---
apiVersion: v1
kind: Service
metadata:
  name: nexus-service
  labels:
    app: nexus
spec:
  type: LoadBalancer
  selector:
    app: nexus
    component: core
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  labels:
    app: nexus
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  labels:
    app: nexus
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
